<div class="container card-0 justify-content-center ">
    <div class="card-body px-sm-4 px-0">
        <div class="row justify-content-center mb-5">
            <div class="col-md-10 col">
                <h3 class="font-weight-bold ml-md-0 mx-auto text-center text-sm-left"> Category Updation</h3>
                <p class="mt-md-4 ml-md-0 ml-2 text-center text-sm-left"> Update your Category here </p>
            </div>
        </div>
        <form [formGroup]="SubcategoryEditForm" >

            <div class="row justify-content-center round">
                <div class="col-lg-10 col-md-12 ">
                    <div class="card shadow-lg card-1">
                        <div class="card-body inner-card">
                            <div class="row justify-content-center">
                                <div class="col-md-12 col-lg-10 col-12" >
                                    <div class="form-group"><label for="first-name">Sub Category Name</label>
                                        <input type="text" class="form-control" formControlName="SubCategoryName" style="background-color: rgb(255, 255, 255);" id="" placeholder="Type Category Name"> </div>
                                    
                                    <label for="Description">Description</label>
                                    
                                </div>
                               

                                    <textarea name="" id="" formControlName="SubCategoryDescription" cols="30" rows="10"></textarea>
                            
                                
                                
                            </div>
                            
                            <div class="row justify-content-center">
                                <div class="col-md-12 col-lg-10 col-12">
                                    <div class="row justify-content-end mb-5">
                                        <div class="col-lg-4 col-auto ">
                                            <button type="button" (click)="submit()" class="btn btn-primary btn-block"><small class="font-weight-bold">Update Sub Category</small></button> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>