<head>
    <link rel="stylesheet" href="/assets/Guest/css/custom-bs.css">
    <link rel="stylesheet" href="/assets/Guest/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/assets/Guest/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/assets/Guest/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/assets/Guest/fonts/line-icons/style.css">
    <link rel="stylesheet" href="/assets/Guest/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/Guest/css/animate.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/assets/Guest/css/style.css">    
</head>
<div class="container card-0 justify-content-center ">
    <div class="card-body px-sm-4 px-0">
        <div class="row justify-content-center mb-5">
            <div class="col-md-10 col">
                <h3 class="font-weight-bold ml-md-0 mx-auto text-center text-sm-left"> Post Details</h3>
            </div>
        </div>
      

            <div class="row justify-content-center round" style="margin-top: -10%">
                <div class="col-lg-10 col-md-12 ">
                    <div class="card shadow-lg card-1">
                        <div class="card-body inner-card">
                            <div class="row justify-content-center" >
                                <div class="col-md-12 col-lg-10 sm-4 col-12" *ngFor="let cu of postdata;let i=index;">
                                    
                                




                                <ul >


                                    <li  class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center" >
                                        <a  href="job-single.html"></a>
                                        <div class="job-listing-logo">
                                          <img src="{{cu.company_logo}}" alt="" class="img-fluid">
                                        </div>
                            
                                        <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                                          <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                                            <h2>{{cu.PostName}}</h2>
                                            
                                            
                                            <strong>{{cu.company_name}}</strong>
                                          </div>
                                          
                                            <span class="icon-room">Kochi</span> 
                                          </div>
                                          <div class="badge badge-success">
                                            <span>{{cu.JobType}}</span>
                                          </div>
                                      </li>

                                      <p style="margin-top:10%">Vacancy : {{cu.Vacancy}}</p>
                                      <br>
                                     
                                      <p>Experience Required : {{cu.Experience}}</p>
                                      <br>
                                     
                                      <p>Last day to apply : {{cu.LastDate}}</p>
                                      <p style="margin-top:10%;font-size: 160%;">Job Description</p>
                                      <p>{{cu.Description}}</p>
                                      <br>
                                      <br>
                                    
                                     
                                    <a [routerLink]="['/applyDetails', cu.Post_Id]" style="color: rgb(121, 171, 101);">Apply Now</a>

                       
                                    </ul> 
                            
                                
                     
                            
                            <div class="row justify-content-center">
                                <div class="col-md-12 col-lg-10 col-12">
                                    <div class="row justify-content-end mb-5">
                                        <div class="col-lg-4 col-auto ">
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                
          
     
        