<head>
    <link rel="stylesheet" href="/assets/Guest/css/custom-bs.css">
    <link rel="stylesheet" href="/assets/Guest/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/assets/Guest/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/assets/Guest/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/assets/Guest/fonts/line-icons/style.css">
    <link rel="stylesheet" href="/assets/Guest/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/Guest/css/animate.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/assets/Guest/css/style.css">    
</head>
<div class="container card-0 justify-content-center ">
    <div class="card-body px-sm-4 px-0">
        <div class="row justify-content-center mb-5">
            <div class="col-md-10 col">
                <h3 class="font-weight-bold ml-md-0 mx-auto text-center text-sm-left"> Post Details</h3>
            </div>
        </div>
      

            <div class="row justify-content-center round">
                <div class="col-lg-10 col-md-12 ">
                    <div class="card shadow-lg card-1">
                        <div class="card-body inner-card">
                            <div class="row justify-content-center" >
                                <div class="col-md-12 col-lg-10 sm-4 col-12">
                                    
                                



                          <form [formGroup]="postdetails" >

<input type="label" formControlName="PostName" readonly>

                                <ul >


                                    <li   class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center" >
                                        <a  href="job-single.html"></a>
                                        <div class="job-listing-logo">
                                          <img src="/assets/Guest/images/job_logo_2.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid">
                                        </div>
                            
                                        <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                                          <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                                            <h2>Test</h2>
                                            
                                            <strong>Sprint</strong>
                                          </div>
                                          <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                                            <span class="icon-room"></span> Overland Park, Kansas 
                                          </div>
                                          <div class="job-listing-meta">
                                            <span class="badge badge-success">Full Time</span>
                                          </div>
                                        </div>
                                      </li>

                                      <p style="margin-top:20%;">job Description</p>
                                      <p>job Description here</p>


                                      <br>
                                      <br><br>
                                      <br>
                                    <a [routerLink]="['/applyDetails']" style="color: rgb(121, 171, 101);">Apply Now</a>

                       
                                    </ul> 
                                  </form>
                                
                     
                            
                            <div class="row justify-content-center">
                                <div class="col-md-12 col-lg-10 col-12">
                                    <div class="row justify-content-end mb-5">
                                        <div class="col-lg-4 col-auto ">
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                
          
     
        